<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{_fragments::head}"></head>
    <body>
        <nav  th:replace="~{_fragments::nav}"></nav>
        <div class="container-fluid">
            <h1>Etiquetas</h1>
            <table id="etiquetas" class="table datatable table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Livros</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="etiqueta:${etiquetas}">
                        <td th:text="${etiqueta.nome}"></td>
                        <td th:text="${etiqueta.qtdLivros}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
