<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{_fragments::head}"></head>
    <script>
        $(document).ready( function () {
            $('table.datatable').DataTable(DATATABLE_COMMON_OPTIONS);
        });
    </script>
    <body>
        <nav  th:replace="~{_fragments::nav}"></nav>
        <div class="container-fluid">
            <h1>Obras</h1>
            <table id="obras" class="table datatable table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor(es)</th>
                        <th>Livros</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="obra:${obras}">
                        <td th:text="${obra.titulo}"></td>
                        <td>
                            <span th:text="${obra.autorPrincipal}"></span>
                            <span class="badge text-bg-secondary ml-2" th:text="'+' + ${obra.qtdOutrosAutores}" th:if="${obra.qtdOutrosAutores > 0}"></span>
                        </td>
                        <td>
                            <span th:text="${obra.qtdLivros}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
